<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCp1_1BeNhkbtuaFyx4zu1jm9ilzpxzq3w</string>
	<key>GCM_SENDER_ID</key>
	<string>889483409620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nofa.doctorBike</string>
	<key>PROJECT_ID</key>
	<string>doctor-bike-1323e</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-bike-1323e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889483409620:ios:97cafe61b4865424a62341</string>
</dict>
</plist>